header {
    width: 100%;
    height: auto;
}

.nav__container {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    top: 0;
    left: 70px;
    position: fixed;
    z-index: 99;
    /* background-color: var(--beige); */
}

.logo__container {
    width: 7%;
}

.logo {
    width: 100%;
}

.nav__list {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.hamburger__white{
    background-color: transparent;
    color: var(--white);
    border: none;
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
}

.hamburger__black {
    background-color: transparent;
    color: var(--black);
    border: none;
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
}

.hamburger__white:focus {
    outline: none;
}

.nav__item--white {
    color: var(--white);
    font-size: 1.125rem;
}

.nav__item--white-bold {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--bold);
}

.nav__item--black {
    color: var(--black);
    font-size: 1.125rem;
}

.nav__item--white:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}

.nav__item--black:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}

.nav__item--black:active {
    font-weight: var(--bold);
}