.nav__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    top: 0;
    left: 70px;
    position: fixed;
    z-index: 99;
}

.logo__container {
    width: auto;
}

.nav__list {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.nav__item--white {
    color: var(--white);
    font-size: 1.125rem;
}