.nav__container {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    top: 0;
    left: 70px;
    position: fixed;
    z-index: 99;
}

.logo__container {
    width: 6%;
}

.logo {
    width: 100%;
}

.nav__list {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.nav__item--white {
    color: var(--white);
    font-size: 1.125rem;
}

.nav__item--white-bold {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: var(--bold);
}

.nav__item--black {
    color: var(--black);
    font-size: 1.125rem;
}

.nav__item--black-bold {
    color: var(--black);
    font-size: 1.125rem;
    font-weight: var(--bold);
}

.nav__item--white:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}

.nav__item--black:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}

.nav__item--black-bold:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}