/* Hero container */
.hero-img__container {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/background-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__container {
    width: 70%;
    margin: auto;
    padding-top: 150px;
}

.heading__white {
    color: var(--white);
}

/* Wallpaper post container */
.wallpaper__container {
    margin-top: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wallpaper-img__container {
    width: 500px;
    height: 550px;
    margin-right: 80px;
    background-image: url(../../img/bedroom-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wallpaper__text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.wallpaper__body-text {
    margin-top: 50px;
    height: auto;
    justify-content: space-between;
}

.wallpaper-body-text__container {
    margin-top: 30px;
}

.wallpaper__read-more--container {
    margin-top: 50px;
}

/* Slider container */
.slider__container {
    margin-top: 150px;
}

.slider {
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.slider__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider__img {
    width: 85%;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

/* Light and woody container */
.white {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 150px 100px 0px 0px;
}

.white-box {
    height: 409px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-box__text {
    height: 250px;
    width: 75%;
    margin: 0px 0px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white-box__img {
    width: 50%;
    height: 600px;
    background-image: url(../../img/light-and-woody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}