/* LAYOUT  */
@media (max-width: 991px){
    /* Tablet */

}

@media (max-width: 767px){
    /* Mobile */

    .content {
        margin: 0px 50px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .content {
        margin: 0px 25px;
    }
}

/* HEADER SECTION */
@media (max-width: 991px){
    /* Tablet */

    .logo__container {
        width: 10%;
    }

    .nav__list {
        width: 60%;
        margin-right: 50px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .nav__container {
        width: 95%;
        left: 40px;
    }

    .logo__container {
        width: 13%;
    }

    .nav__list {
        width: 65%;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .logo__container {
        width: 15%;
    }

    .nav__container {
        width: 100%;
        left: 20px;
    }
}


/* HOME PAGE */
@media (max-width: 991px){
    /* Tablet */

    .header__container {
        width: 50%;
        margin: 0px 0px 0px 200px;
    }

    /* Home posts */
    .home-post__container {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .home-post__text {
        width: 100%;
    }

    .read-more--container {
        margin: 50px 0px 50px 0px;
        text-align: end;
    }

    .home-post__img--kitchen,
    .home-post__img--wallpaper {
        width: 100%;
        height: 400px;
        margin: 0px;
    }

    .white {
        flex-direction: column;
    }

    /* Slider */
    .slider {
        padding-left: 0px;
    }

}

@media (max-width: 767px){
    /* Mobile */

    .header__container {
        margin: 0px 0px 0px 100px;
    }

    .heading__white {
        font-size: 4rem;
        line-height: 5.5rem;
    }

    /* Slider */
    .slider {
        padding-left: 0px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .header__container {
        margin-left: 25px;
    }

    .heading__white {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

/* POSTS PAGE */
@media (max-width: 991px){
    /* Tablet */

    #searchbar {
        height: 45px;
    }

    .posts__content {
        width: auto;
    }

    .see-more__container {
        margin: 150px 50px 0px 50px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    #searchbar {
        height: 40px;
    }

    .fa-search {
        font-size: 1.125rem;
        top: 1px;
        right: 45px;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .posts__container {
        margin-top: 0px;
    }

    .posts__content {
        margin: 100px 50px 0px 50px;
    }

    .see-more__btn {
        width: 450px;
        height: 150px;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .posts__content {
        margin: 100px 25px 0px 25px;
    }

    .see-more__btn {
        font-size: 1.125rem;
    }
}

/* POST SPECIFIC PAGE */
@media (max-width: 1920px){
    /* Wide screen */

    .other__posts {
        width: 70%;
    }

    .other__posts--img {
        height: 450px;
        width: 100%;
    }
}

@media (max-width: 1440px){
    /* Laptop */


    .other__posts {
        width: 100%;
    }

    .other__posts--img {
        height: 500px;
    }
}

@media (max-width: 1200px){
    /* Small laptop */
    .other__posts--img {
        height: 400px;
    }
}

@media (max-width: 991px){
    /* Tablet */

    .first-post__text {
        display: flex;
        flex-direction: column;
    }

    .first-post {
        width: 100%;
    }

    .second-post__content {
        margin: 150px 100px 0px 200px;
        flex-direction: column;
    }

    .first-post__img--container,
    .second-post__img--container {
        margin-top: 50px;
        width: 100%;
    }

    .other__posts {
        flex-direction: column;
        justify-content: space-between;
    }

    .other__posts--content {
        width: 100%;
        flex-direction: column-reverse;
    }

    .other__posts--img {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .header__container--specific {
        margin: 300px 50px 0px 150px;
    }

    .specific__container {
        margin: 0px 50px 0px 50px;
    }

    .second-post__content {
        margin: 150px 50px 0px 50px;
    }

    .other__posts--container {
        margin: 150px 50px 0px 50px;
    }

    .other__posts {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .other__posts--img {
        height: 400px;
    }

}

@media (max-width: 500px){
    /* Small phone */

    .header__container--specific {
        margin: 200px 50px 0px 50px;
    }

    .other__posts--img {
        height: 250px;
    }
}

/* ABOUT PAGE */
@media (max-width: 1920px){
    /* Wide screen */

    .content {
        max-width: 1440px;
    }

    .beige-box {
        max-width: 1440px;
    }

    .social-media__icon {
        width: 30%;
    }

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        width: 50%;
        height: 300px;
    }
}

@media (max-width: 1440px){
    /* Laptop */

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        height: 250px;
    }
}

@media (max-width: 991px){
    /* Tablet */

    .about-me {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 6rem;
        line-height: 7rem;
    }

    .medium__header {
        font-size: 3rem;
        font-weight: var(--bold);
    }

    .about-me__img--container {
        margin-top: 50px;
    }

    .beige-box__container {
        height: 650px;
    }

    .beige-box {
        flex-direction: column;
        height: 550px;
        justify-content: space-between;
    }

    .social-media__boxes {
        flex-direction: column;
    }

    .social-media__two {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        width: 48%;
        height: 270px;
        margin: 20px 0px 0px 0px;
    }

    .social-media__insta {
        margin-right: 20px;
    }
    
    .social-media__youtube {
        margin-right: 20px;
    }
}

@media (max-width: 767px){
    /* Tablet */
    h1 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .medium__header{
        font-size: 2rem;
    }

    .about-me__text {
        width: 100%;
    }

    .why-interior {
        flex-direction: column;
    }

    .why-interior__content {
        width: 100%;
    }

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    h1 {
        line-height: 3.5rem;
    }

    .small__header {
        font-size: 1.125rem;
    }

    .beige-box__container,
    .why-interior__container,
    .social-media__boxes {
        margin-top: 100px;
    }

    .beige-box {
        margin: 0px 30px 0px 130px;
        height: 450px;
    }

    .social-media__two {
        flex-direction: column;
        width: 90%;
    }
}

/* FOOTER SECTION */
@media (max-width: 991px){
    /* Tablet */

    .footer__container {
        flex-direction: column;
    }

    .footer__categories {
        margin-top: 50px;
    }

    .footer__info-logo--container {
        width: 100%;
    }

    .footer__categories {
        width: 80%;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .footer__container {
        margin: 100px 60px;
    }

    .footer__categories {
        flex-direction: column;
        height: 350px;
        justify-content: space-between;
    }

    .footer-logo {
        width: 50%;
    }
}

@media (max-width: 500px){
    /* Small phone */

    footer {
        margin-top: 100px;
    }

    .footer__container {
        margin: 80px 50px 80px 50px;
    }
}