/* LAYOUT  */
@media (max-width: 1920px){
    /* Wide screen */

    .content,
    .specific__container {
        margin: 0px 100px 0px 300px;
    }

    .posts__img,
    .posts__img--search {
        width: 100%;
        margin-top: 30px;
    }

    #search {
        margin: 0px 100px 0px 300px;
    }

    .posts__content,
    .other__posts--container {
        margin: 150px 100px 0px 300px;
    }

    .second-post__content {
        margin: 150px 0px 0px 300px;
    }

    .beige-box {
        margin: 0px 300px;
    }
}

@media (max-width: 1440px){
    /* Laptop */

    .content,
    .specific__container,
    .beige-box {
        margin: 0px 100px 0px 200px;
    }

    #search {
        margin: 0px 100px 0px 200px;
    }

    .posts__img,
    .posts__img--search {
        width: 100%;
        margin-top: 30px;
    }

    .posts__content,
    .other__posts--container {
        margin: 150px 100px 0px 200px;
    }

    .second-post__content {
        margin: 150px 0px 0px 200px;
    }
}

@media (max-width: 991px){
    /* Tablet */

    h1 {
        font-size: 6rem;
        line-height: 7rem;
    }

    .heading__container {
        width: 50%;
        margin: 0px 0px 0px 150px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    h1,
    .heading__white {
        font-size: 4.5rem;
        line-height: 6rem;
    }

    .heading__container {
        width: auto;
        margin: 0px 0px 0px 80px;
    }

    .medium__header,
    .medium__header--static {
        font-size: 2rem;
    }

    .comments,
    .comment__form {
        margin-top: 100px;
    }

    .content {
        margin: 0px 50px;
    }

    #search {
        margin: 0px 50px 0px 50px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    #search,
    .content {
        margin: 0px 25px;
    }

    h1,
    .heading__white {
        font-size: 3.25rem;
        line-height: 4rem;
    }

    .heading__container {
        margin: 0px 0px 0px 25px;
    }

    .small__header,
    .small__header--static  {
        font-size: 1.125rem;
    }
}

@media (max-width: 300px){
    /* Really small phone */

    h1,
    .heading__white {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .slider__content {
        margin-bottom: 20px;
    }
}

/* HEADER SECTION */
@media (max-width: 991px){
    /* Tablet */

    .logo__container {
        width: 10%;
    }

    .nav__list {
        width: 60%;
        margin-right: 50px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .nav__container {
        width: 100%;
        left: 0px;
        padding: 0px 0px 30px 25px;
        height: 110px;
    }

    .nav__container--tall {
        width: 100%;
        left: 0px;
        padding: 0px 0px 30px 25px;
        height: 140px;
    }

    .logo__container {
        width: 13%;
    }

    .beige {
        background-color: var(--beige);
        width: 100%;
    }

    .transparent {
        background-color: transparent;
        width: 100%;
    }

    .nav__list {
        display: none;
        width: 100%;
    }

    .nav__list.showing {
        display: flex;
    }

    .hamburger__white {
        margin-right: 50px;
        display: block;
    }

    .hamburger__black {
        margin-right: 50px;
        display: block;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .logo__container {
        width: 15%;
    }
}


/* HOME PAGE */
@media (max-width: 991px){
    /* Tablet */

    /* Home posts */
    .home-post__container {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .home-post__text {
        width: 100%;
    }

    .read-more--container {
        margin: 50px 0px 50px 0px;
        text-align: end;
    }

    .home-post__img--kitchen,
    .home-post__img--wallpaper {
        width: 100%;
        height: 400px;
        margin: 0px;
    }

    .white {
        flex-direction: column;
    }

    /* Slider */
    .slider {
        padding-left: 0px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .home-post__container {
        margin-top: 100px;
    }

    .slider {
        padding-left: 0px;
    }

    .slider__img {
        width: 95%;
    }
}


/* POSTS PAGE */
@media (max-width: 991px){
    /* Tablet */

    #searchbar {
        height: 45px;
    }

    .posts__content {
        width: auto;
    }

    .see-more__container {
        margin: 150px 50px 0px 50px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    #searchbar {
        height: 40px;
    }

    .fa-search {
        font-size: 1.125rem;
        top: 1px;
        right: 45px;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .posts__container {
        margin-top: 0px;
    }

    .posts__content {
        margin: 100px 50px 0px 50px;
    }

    .see-more__btn {
        width: 450px;
        height: 150px;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .posts__content {
        margin: 100px 25px 0px 25px;
    }

    #searchbar {
        height: 40px;
        width: 90%;
    }

    .fa-search {
        display: none;
    }

    .see-more__btn {
        font-size: 1.125rem;
    }
}

/* POST SPECIFIC PAGE */
@media (max-width: 1920px){
    /* Wide screen */

    .other__posts {
        width: 70%;
    }

    .other__posts--img {
        height: 450px;
        width: 100%;
    }
}

@media (max-width: 1440px){
    /* Laptop */


    .other__posts {
        width: 100%;
    }

    .other__posts--img {
        height: 500px;
    }
}

@media (max-width: 1200px){
    /* Small laptop */
    .other__posts--img {
        height: 400px;
    }
}

@media (max-width: 991px){
    /* Tablet */

    .first-post__text {
        display: flex;
        flex-direction: column;
    }

    .first-post {
        width: 100%;
    }

    .second-post__content {
        margin: 150px 100px 0px 200px;
        flex-direction: column;
    }

    .first-post__img--container,
    .second-post__img--container {
        margin-top: 50px;
        width: 100%;
    }

    .other__posts {
        flex-direction: column;
        justify-content: space-between;
    }

    .other__posts--content {
        width: 100%;
        flex-direction: column;
    }

    .other__posts--img {
        width: 100%;
        height: 400px;
    }

    .description {
        margin-bottom: 50px;
    }

    .pop-up__img {
        width: 90%;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .specific__container {
        margin: 0px 25px 0px 25px;
    }

    .second-post__content,
    .other__posts--container {
        margin: 150px 25px 0px 25px;
    }

    .other__posts {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .other__posts--img {
        height: 400px;
    }

}

@media (max-width: 500px){
    /* Small phone */


    .other__posts--img {
        height: 250px;
    }

    .first-post__text--container,
    .second-post__content,
    .other__posts--container {
        margin-top: 100px;
    }
}


/* ABOUT PAGE */
@media (max-width: 991px){
    /* Tablet */

    .about-me {
        flex-direction: column;
    }

    .about-me__img--container {
        margin-top: 50px;
        width: 100%;
    }

    /* Hobbies */
    .beige-box__container {
        height: 650px;
    }

    .beige-box {
        flex-direction: column;
        height: 550px;
        justify-content: space-between;
    }

    .why-interior {
        flex-direction: column;
    }

    /* Why interior */
    .about-me__text,
    .why-interior__content {
        width: 100%;
    }

    /* Social media */
    .social-media__two {
        flex-direction: column;
        width: 100%;
    }

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        width: 95%;
        margin: 20px 0px 0px 0px;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .about-me__img--container {
        width: 100%;
    }

}

@media (max-width: 500px){
    /* Small phone */

    .beige-box__container,
    .why-interior__container,
    .social-media__boxes {
        margin-top: 100px;
    }

    .beige-box__container {
        height: 550px;
    }

    .beige-box {
        margin: 0px;
        height: auto;
    }

    .social-media__insta,
    .social-media__facebook,
    .social-media__youtube,
    .social-media__linkedin {
        height: 150px;
    }

    .icon__container {
        margin: 25px 0px;
        width: 100%;
    }
}

/* CONTACT PAGE */
@media (max-width: 991px){
    /* Tablet */

    .contact-form {
        width: 90%;
    }

    .contact__info {
        width: 100%;
    }
}


/* FOOTER SECTION */
@media (max-width: 991px){
    /* Tablet */

    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__categories {
        margin-top: 50px;
        width: 80%;
    }

    .footer__info {
        width: 80%;
    }

    .footer__info-logo--container {
        width: 80%;
    }
}

@media (max-width: 767px){
    /* Mobile */

    .footer__container {
        width: 85%;
        align-items: flex-start;
    }

    .footer__categories {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        margin-top: 0px;
    }

    .footer__info-logo--container,
    .footer__info {
        width: 100%;
    }

    .footer-logo {
        width: 50%;
    }

    .footer__list {
        margin-top: 50px;
    }

    .credits__container {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-bottom: 30px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    footer {
        margin-top: 100px;
    }

    .footer__container {
        margin: 80px 25px;
    }

    .credits__container {
        height: 70px;
    }

    .credits {
        flex-direction: column;
        margin-bottom: 20px;
    }
}