/* Hero banner */
.overlay__container {
    position: relative;
    margin-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.background-img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__container--specific {
    margin: 300px 50px 0px 200px;
}

/* Posts from Wordpress */

.specific__container {
    margin: 0px 100px 0px 200px;
}

/* First post */
.first-post__content {
    display: flex;
    flex-direction: column;
}

.first-post__text--container {
    margin-top: 150px;
}

.first-post__text {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-post {
    width: 47%;
}

.first-post__img--container {
    width: 100%;
    margin-top: 100px;
}

.first__img {
    width: 100%;
}

/* Second post */
.second-post__content {
    margin: 150px 0px 0px 200px;
    display: flex;
    justify-content: space-between;
}

.second-post__text--container {
    width: 100%;
    margin-right: 50px;
}

.second-post__img--container {
    margin-top: 20px;
    width: 90%;
}

.second__img {
    width: 100%;
}

.other__posts--container {
    margin: 150px 100px 0px 200px;
}

.other__posts {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.other__posts--content {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.other__posts--img {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.other__posts--img:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--opacity);
}
  
.pop-up__img{
    width: 70%;
    display: flex;
    margin: auto;
}

.overlay__img--container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.comments,
.comment__form {
    margin-top: 150px;
}

.comments__container,
.more__comments,
.comments__container--each {
    margin-top: 50px;
}

.more__comments:hover {
    transform: var(--hover-up);
    transition: var(--transition);
    cursor: pointer;
    font-weight: var(--bold);
}